/* * { 
  outline: 1px solid red;
  outline-offset: -1px;
} */

main {
  margin: 10px;
  background-color: rgb(227, 227, 227);
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  grid-column: 2 / 4;
  grid-row-start: 1;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  grid-column: 3 / 5;
  grid-row-start: 2;
  
}
#logo {
  height: 100px;
}

section {
  grid-row: 3 / 5;
  grid-column: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  object-fit: fill;
  border: 3px solid black;
}

section img:hover {
  border: 5px solid green;
}

#results {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  text-align: center;
  border: 2px solid black;
}

ul li {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  text-align: left;
}

.clicks-allowed {
  background-color: lightslategray;
  color: antiquewhite;
  font-weight: bold;
}

.clicks-allowed:hover {
  background-color: antiquewhite;
  color: black;
}

#chart {
  grid-row: 5 / 6;
  grid-column: 2 / 5;
  z-index: 1;
}

footer {
  grid-row: 6;
  grid-column: 1 / 6;
  text-align: center;
}
